html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.search-form {
  margin-bottom: 20px;
}

.buttonMore {
  top: 95vh;
  position: fixed;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-card {
  list-style: none;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}